*~
#*
*#
.#*
=*
.glimpse_*
autom4te.*
*.o
*.so
*.a
*.orig
*.patch
*.rej
Makefile.in
*/Makefile.in
aclocal.m4
INSTALL
config.h.in
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/missing
config/ylwrap
compile
configure
aclocal.m4
autom4te.cache.*
.deps/
Makefile
axfr-get
axfr-get.1
axfrdns
axfrdns.8
config.h
config.log
config.status
djbdns.1
dnscache
dnscache.8
dnscached
dnsfilter
dnsfilter.1
dnsip
dnsip.1
dnsipq
dnsipq.1
dnsmx
dnsname
dnsname.1
dnsq
dnsq.1
dnsqr
dnsqr.1
dnstrace
dnstrace.1
dnstracesort
dnstxt
dnstxt.1
etc/Makefile
etc/axfrdns.conf
etc/dnscache.conf
etc/ip/Makefile
etc/rbldns.conf
etc/servers/Makefile
etc/servers/roots
etc/systemd/axfrdns.socket
etc/systemd/axfrdns@.service
etc/systemd/dnscache.service
etc/systemd/rbldns.service
etc/systemd/tinydns.service
etc/systemd/walldns.service
etc/tinydns.conf
etc/walldns.conf
pickdns
pickdns-data
randomip
randomip.1
rbldns
rbldns-data
rbldns-data.1
rbldns.8
stamp-h1
tcprules
tcprules.1
tinydns
tinydns-data
tinydns-data.1
tinydns-edit
tinydns-edit.1
tinydns-get
tinydns-get.1
tinydns.1
tinydns.8
tinydnsd
walldns
walldns.8
